<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ratchat</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="body">
        <div class="flex-container">
            <div class="flex-item" id="chat_window"></div>
            <div class="flex-item" id="chat_users"></div>
        </div>

        <div class="flex-item bottom" id="input_container">
            <form id="input_form">
                <input id="chat_input" autocomplete="off"></input>
            </form>
        </div>
    </div>


    <script type="text/javascript" src="static/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="static/script.js"></script>
    <script type="text/javascript" src="static/socket.io.js"></script>

</body>

</html>